---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 119
UseTab: Never
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
BreakBeforeBraces: Attach
SpaceBeforeParens: ControlStatements
